################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MAQConsulting/fonts/glyphicons-halflings-regular.eot
.vs
